/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.body-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/fondo.jpg') no-repeat fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    width: 50px;
    margin-right: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li a img {
    width: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}

.card h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.card p {
    color: #666;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.formulario-container {
    background-color: white;
    height: calc(140vh - 60px - 58px);
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: rgba(12, 11, 11, 0.7);
    border-radius: 5px;
    height: calc(90vh - 60px - 58px);
    margin-top: 58px;
    text-align: center;
    color: white;
    flex: 1;
}

.form-grupo {
    margin-bottom: 20px;
}

.form-grupo label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-grupo input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}