<nav>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/paises/obtener">Obtener Paises</a>
        <a href="/paises/vaciar">Vaciar Paises</a>
        <a href="/paises">Listado de Paises</a>
        <a href="/paises/nuevo"> Crear un nuevo País</a>

    </div>

</nav>